<div class="banner">
  <div class="books">
    <div class="book-1"></div>
    <div class="book-2"></div>
    <div class="book-3"></div>
  </div>
  <div class="stand"></div>
</div>
<div class="categories">
  <div class="container">
    <div class="col-md-4">
      <div class="category category-1">
        <div class="category-content">
          <div class="title"><%= t "static.category.title" %></div>
          <div class="type"><%= t "static.category.type.type_1" %></div>
          <div class="shop"><%= t "static.category.shop" %></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="category category-2">
        <div class="category-content">
          <div class="title"><%= t "static.category.title" %></div>
          <div class="type"><%= t "static.category.type.type_2" %></div>
          <div class="shop"><%= t "static.category.shop" %></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="category category-3">
        <div class="category-content">
          <div class="title"><%= t "static.category.title" %></div>
          <div class="type"><%= t "static.category.type.type_3" %></div>
          <div class="shop"><%= t "static.category.shop" %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="quote">
  <div class="content">
    <i><%= t "static.quote" %></i>
  </div>
</div>
<div class="slogan">
  <div class="content">
    <%=  t "static.slogan" %>
  </div>
</div>
<%= render "shared/footer" %>
