<div class="container personal-page">
  <div class="row personal-info">
    <div class="col-xs-3">
      <%= image_tag "default-ava.jpg", alt: "default-ava.jpg",
        class: "avatar" %>
    </div>
    <div class="col-xs-3">
      <p class="name"><%= @user.name %></p>
    </div>
    <div class="col-xs-5">
      <%= link_to t("common.update_profile"),
        edit_user_registration_path, class: "edit-btn" %>
    </div>
  </div>
  <% @books.each_slice(3) do |books| %>
    <div class="row">
      <% books.each do |book| %>
        <div class="col-xs-4">
          <div class="book">
            <div class="cover">
              <%= link_to book_path(params[:locale], book.id) do %>
                <%= image_tag book.cover, class: "book-index-cover" %>
              <% end %>
            </div>
            <div class="info">
              <div class="author">
                <p class="title">
                  <%= t "books.author" %>:
                </p>
                <%= book.title %>
              </div>
              <div class="publish-date">
                <p class="title">
                  <%= t "books.publish_date" %>:
                </p>
                <%= book.publish_date.strftime I18n.t("books.date_format_1") %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
