<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only"><%= t "app.toggle_navi" %></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= fa_icon "bookmark" %>
      <%= link_to t("app.app_name"), "/", class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="input-group">
          <input type="text" class="input-search form-control"
            placeholder="<%= t "common.search" %>">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <span class="cart-text">
            <%= render "shared/cart_text" %>
          </span>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle",
              data: {toggle: "dropdown"} do %>
              <%= current_user.name %> <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t("app.profile_page"),
                user_path(id: current_user.id) %></li>
              <li><%= link_to t("orders.your_orders"),
                orders_path %></li>
              <li><%= link_to t("app.setting"),
                edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to t("app.logout"), destroy_user_session_path,
                method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("app.login"), new_user_session_path %></li>
          <li><%= link_to t("app.signup"), new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
