<div class="book-detail">
  <div class="book-cover-box col-xs-12 col-sm-4">
    <div class="book-cover">
      <% if book.cover %>
        <%= link_to book_path(params[:locale], book.id) do %>
          <%= image_tag book.cover, class: "book-index-cover" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="book-info col-xs-12 col-sm-8">
    <div class="book-des">
      <p class="book-index-title">
        <%= book.title %>
      </p>
      <div class="item book-index-author">
        <p class="title"><%= t "books.author" %>:</p>
        <%= book.author %>
      </div>
      <div class="item book-index-date">
        <p class="title"><%= t "books.publish_date" %>:</p>
        <%= book.publish_date.strftime I18n.t("books.date_format_1") %>
      </div>
      <p class="item book-index-des">
        <%= book.description %>
      </p>
    </div>
    <div class="book-action">
      <% if user_signed_in? %>
        <% unless current_user.books.include? book %>
          <div id="bm-<%= book.id %>" class="bookmark-link">
            <%= link_to t("books.book_mark"),
              bookmarks_path(id: book.id,
              locale: I18n.locale.to_s),
              class: "btn book-index-btn",
              method: :post, remote: true %>
          </div>
          <div id="ubm-<%= book.id %>" class="bookmark-link hide-link">
            <%= link_to t("books.unbook_mark"),
              bookmark_path(id: book.id,
              locale: I18n.locale.to_s),
              class: "btn book-index-btn",
              method: :delete, remote: true %>
          </div>
          <div id="fav-<%= book.id %>" class="bookmark-link hide-link">
            <%= link_to t("books.fav"),
              bookmark_path(
              id: book.id,
              locale: I18n.locale.to_s, favorite: 1),
              class: "btn book-index-btn",
              method: :put, remote: true %>
          </div>
          <div id="unfav-<%= book.id %>" class="bookmark-link hide-link">
            <%= link_to t("books.unfav"),
              bookmark_path(
              id: book.id,
              locale: I18n.locale.to_s),
              class: "btn book-index-btn",
              method: :put, remote: true %>
          </div>
        <% else %>
          <div id="bm-<%= book.id %>" class="bookmark-link hide-link">
            <%= link_to t("books.book_mark"),
              bookmarks_path(id: book.id, locale: I18n.locale.to_s),
              class: "btn book-index-btn",
              method: :post, remote: true %>
          </div>
          <div id="ubm-<%= book.id %>" class="bookmark-link">
            <%= link_to t("books.unbook_mark"),
              bookmark_path(id: book.id,
              locale: I18n.locale.to_s),
              class: "btn book-index-btn",
              method: :delete, remote: true %>
          </div>
          <% if books_had_bookmarked.include? book.id %>
            <div id="fav-<%= book.id %>" class="bookmark-link hide-link">
              <%= link_to t("books.fav"),
                bookmark_path(
                id: book.id,
                locale: I18n.locale.to_s, favorite: 1),
                class: "btn book-index-btn",
                method: :put, remote: true %>
            </div>
            <div id="unfav-<%= book.id %>" class="bookmark-link">
              <%= link_to t("books.unfav"),
                bookmark_path(
                id: book.id,
                locale: I18n.locale.to_s),
                class: "btn book-index-btn",
                method: :put, remote: true %>
            </div>
          <% else %>
            <div id="fav-<%= book.id %>" class="bookmark-link">
              <%= link_to t("books.fav"),
                bookmark_path(
                id: book.id,
                locale: I18n.locale.to_s, favorite: 1),
                class: "btn book-index-btn",
                method: :put, remote: true %>
            </div>
            <div id="unfav-<%= book.id %>" class="bookmark-link hide-link">
              <%= link_to t("books.unfav"),
                bookmark_path(
                id: book.id,
                locale: I18n.locale.to_s),
                class: "btn book-index-btn",
                method: :put, remote: true %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <button class="btn book-index-btn"><%= t "books.review" %></button>
    </div>
  </div>
</div>
