<p><%= t "common.hello" %> <%= @resource.email %>!</p>

<p><%= t "reset.reset_1" %></p>

<p><%= link_to t("reset.reset_2"),
  edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p><%= t "reset.reset_3" %></p>
<p><%= t "reset.reset_4" %></p>
