<%= link_to promotion do %>
  <div class="col-xs-12 col-md-3">
    <%= promotion.name %>
  </div>
  <div class="col-xs-12 col-md-3">
    <%= promotion.percent %>
  </div>
  <div class="col-xs-12 col-md-3">
    <%= promotion.start_date %>
  </div>
  <div class="col-xs-12 col-md-3">
    <%= promotion.end_date %>
  </div>
  <div class="col-xs-12 col-md-12">
    <%= promotion.description %>
  </div>
<% end %>
