<%= link_to product do %>
  <div class="col-xs-3">
    <p><%= product.name %></p>
  </div>
  <div class="col-xs-3">
    <p><%= product.code %></p>
  </div>
  <div class="col-xs-3">
    <p><%= product.quantity %></p>
  </div>
  <div class="col-xs-3">
    <p><%= product.price %></p>
  </div>
  <div class="col-xs-3">
    <p><%= product.description %></p>
  </div>
<% end %>