<div>
  <% if @product.image %>
    <%= link_to product_path @product.id do %>
      <%= image_tag @product.image, class: "book-index-cover" %>
    <% end %>
  <% end %>
  <div class="col-xs-3">
    <p><%= t "products.name" %>: <%= @product.name %></p>
  </div>
  <div class="col-xs-3">
    <p><%= t "products.code" %>: <%= @product.code %></p>
  </div>
  <div class="col-xs-3">
    <p><%= t "products.quantity" %>: <%= @product.quantity %></p>
  </div>
  <div class="col-xs-3">
    <p><%= t "products.price" %>: <%= @product.price %></p>
  </div>
  <div class="col-xs-3">
    <p><%= t "products.description" %>: <%= @product.description %></p>
  </div>
  <%= form_for @order_item, remote: true do |f| %>
    <h4 class="text-right"><%= t "products.price" %>:
      <span style="color: green"><%= number_to_currency @product.price %></span>
    </h4>
    <div class="input-group">
      <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
      <div class="input-group-btn">
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit t("order_items.add_to_cart"), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>